.sub-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 2rem auto;
  max-width: 1440px;
}

.sub-title:first-child {
  margin-top: 0;
}

.main.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 20px -20px;
  scale: 1.05;
}

.item-head {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 1rem;
}

.item-logo {
  font-size: 0;
  border-radius: .5rem; 
  overflow: hidden;
}

.item-title {
  font-size: 1.2rem;
  font-weight: 800;
  align-content: center;
}

.item-desc {
  font-size: .9rem;
}

.item-status {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 0;
}

.item-status:before {
  content: "";
  width: .5rem;
  height: .5rem;
  border-radius: 100%;
}

.item-status.online:before {
  background-color: limegreen;
}

.item-status.offline:before {
  background-color: red;
}

.item-status.development:before {
  background-color: dodgerblue;
}

.item-status.maintenance:before {
  background-color: orange;
}

.item-status:after {
  font-size: 0.7rem;
}

.item-status.online:after {
  content: "Online";
}

.item-status.offline:after {
  content: "Offline";
}

.item-status.development:after {
  content: "Development";
}

.item-status.maintenance:after {
  content: "Maintenance";
}

@media (max-width: 840px) {
  .main.wrap {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .main.wrap {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .sub-title:first-child {
    margin-top: .5rem;
  }
  .main.wrap {
    gap: 1.5rem
  }
}
