html {
  font-size: 15px;
}

svg {
  width: 100%;
  height: auto;
}

.main {
  display: grid;
  grid-template-columns: 1fr 450px;
  gap: 1.5rem;
  max-width: 1600px !important;
  font-size: 80%;
}

/* Info */

.marker-detail div, .input div, .results div {
  display: grid;
  grid-template-columns: 1fr 5px 80px 60px;
  gap: .5rem;
}

.marker-item.show {
  font-weight: bold;
  color: red;
}

/* Graph */

.graph {
  display: flex;
  width: 100%;
  height: auto;
}

.graph-outline {
  fill: transparent;
  z-index: 9;
  position: relative;
}

.placed-marker, .moving-marker, .input-marker {
  r: 8;
  stroke: #00000014;
  stroke-width: 20;
  transition: .2s all linear;
}

.moving-marker {
  transition: none;
}

.placed-marker {
  fill: red;
}

.placed-marker:hover {
  stroke: rgba(255, 0, 0, 0.322);
}

#custom-marker circle {
  cursor: pointer;
}