html {
  font-size: 15px;
}

svg {
  width: 100%;
  height: auto;
}

.wrap {
  max-width: 1600px !important;
}

.main {
  display: grid;
  grid-template-columns: 1fr 450px;
  gap: 1.5rem;
  font-size: 80%;
}

.info {
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.info .item {
  display: grid;
  gap: 1rem;
}

.info .item h2 {
  font-size: 1.3rem;
}

#info-marker {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

#info-marker .marker-item {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em, rgb(204, 219, 232, 0) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0) -3px -3px 6px 1px inset;
  text-align: center;
  border-radius: 0.3rem;
  background: var(--bg-color);
  padding: 0.9rem 0.67rem;
  line-height: 0;
  transition: .2s all;
  cursor: pointer;
  user-select: none;
}

#info-marker .marker-item:hover,
#info-marker .marker-item.show {
  background: transparent;
}

#info-marker .marker-item.show {
  box-shadow: unset;
  font-weight: bold;
  color: red;
}

#input .control {
  display: grid;
  gap: 1rem;
}

#input #select1,
#input #select2 {
  padding: 0;
  background: unset;
  box-shadow: unset;
  border: none;
  margin: 0 0 .25rem -0.2rem;
}

#input .input-number {
  display: grid;
  grid-template-columns: 1fr 59px;
}

#input #x-input,
#input #y-input {
  padding: .5rem 1rem;
}

#input .input-number span {
  text-align: right;
  line-height: 1.8rem;
}

/* Info */

.marker-detail div,
.input div,
.results div {
  display: grid;
  grid-template-columns: 1fr 5px 80px 60px;
  gap: .5rem;
}

/* Graph */

.graph {
  display: flex;
  width: 100%;
  height: auto;
}

.graph-outline {
  fill: transparent;
  z-index: 9;
  position: relative;
}

.placed-marker,
.moving-marker,
.input-marker {
  r: 8;
  stroke: #00000014;
  stroke-width: 20;
  transition: .2s all linear;
}

.moving-marker {
  transition: none;
}

.placed-marker {
  fill: red;
}

.placed-marker:hover {
  stroke: rgba(255, 0, 0, 0.322);
}

#custom-marker circle {
  cursor: pointer;
}

.download {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.download button {
    font-weight: bold;
}

@media (max-width: 1000px) {
  .main {
    grid-template-columns: 1fr;
  }
}