.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000a8;
  z-index: 1;
  display: none;
}

.modal.show {
  display: block;
}

.modal .modal-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: white;
  max-width: 1440px;
  width: calc(100% - 4rem);
  max-height: calc(100% - 4rem);
  overflow: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 1rem;
}

#modal-title {
  font-size: 1.6rem;
  font-weight: bold;
}

.label-tag select {
  grid-column-start: 1;
  grid-row-start: 2;
}

.label-tag button {
  grid-row-start: 2;
}

.label-tag {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 0 1.5rem;
}

.modal-actions {
  display: flex;
  gap: 1.5rem
}

.modal-actions button {
  width: 100%;
  font-weight: bold;
}

.modal-actions .ok {
  background-color: var(--green);
}

.modal-actions .ok:hover {
  background-color: var(--green-hover);
}

.modal-actions .cancel {
  background-color: var(--red);
}

.modal-actions .cancel:hover {
  background-color: var(--red-hover);
}

#save-data-btn {
  display: none !important;
}

.main.wrap, #data-container, .year {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.year > .title {
  font-size: 1.6rem;
  font-weight: 800;
}

.month {
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

.month > .title {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 1.25rem;
  border-bottom: 1px solid #eee;
}

.month .total {
  padding: 1rem 1.25rem;
}

.month .day:nth-child(n+3) thead {
  display: none;
}

.day {
  width: 100%;
}

.day tr {
  display: grid;
  grid-template-columns: 70px 1fr 200px 200px 200px;
}

.day th  {
  padding: .5rem 0;
  border-bottom: 1px solid #eee;
}

.day td {
  padding: .5rem 1rem;
  border-bottom: 1px solid #eee;
  align-items: center;
  display: flex;
}

.day .date, .day .category, .day .type, .day .amount {
  justify-content: center;
}

.day .category {
  display: flex;
  justify-content: center;
}

.day .category span {
  color: #fff;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  font-size: .9rem;
}

.day .type {
  text-transform: capitalize;
}

.day .actions {
  display: none;
}