.container {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 1.5rem;
}

canvas {
  width: 100% !important
}

.right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.controls .tool-btn {
  display: grid;
  justify-items: center;
  background-color: #fff;
}

.controls .tool-btn img {
  width: 20px;
  transition: .2s all;
}

.controls .tool-btn.active img {
  filter: brightness(0) saturate(100%) invert(45%) sepia(21%) saturate(7216%) hue-rotate(194deg) brightness(103%) contrast(101%);
}

.controls-output h3 {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.controls-output .unit-label, label[for="decimal-format"] {
  margin-top: .5rem;
  font-size: .8rem;
}

.controls-output .irr-pfd {
  border-top: 2px solid #eceff1;
  padding-top: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.controls-output .irr,
.controls-output .pfd {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.controls-output h4 {
  font-size: .9rem;
}

.controls-output h4 span {
  display: block;
  font-weight: normal;
  font-size: .8rem;
}

.controls-output .editor {
  display: flex;
  height: 17rem;
}

.controls-output .line-numbers {
  padding: .5rem;
  width: 50px;
  overflow: hidden;
  user-select: none;
  box-sizing: border-box;
  font-size: 10px;
  background-color: var(--bg-color);
  border-radius: .5rem 0 0 .5rem;
  text-align: right;
}

.controls-output textarea {
  border: none;
  border-radius: 0 .5rem .5rem 0;
  resize: none;
  padding: .5rem;
  width: 100%;
  font-size: 10px;
  white-space: nowrap;
}

.settings-grid {
  display: grid;
  gap: 1rem;
  font-size: .9rem;
}

.settings-grid input, .settings-grid select, #decimal-format {
  font-size: .8rem;
  padding: .3rem .5rem;
  border-radius: .2rem;
  margin-top: .25rem;
}

.settings-grid .setting-row {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: .75rem;
  align-items: end;
  line-height: 1.1;
  user-select: none;
}

.settings-grid .setting-row * {
  cursor: pointer;
}

.settings-grid .setting-row input {
  width: 20px;
  height: 20px;
}

.settings-grid .color-picker {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.settings-grid .color-picker label {
  font-size: .8rem;
}

.settings-grid .color-picker input {
  display: block;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
  }
}